body{
	background-color: #3b3b3b;
	color: white;
	font-family: Arial;
	font-size: 20px;
}

#title{
	color: #4ccf57;
}

div.post{

	margin-top: 30px;

	background-color: #212121;

	color: white;
	padding: 20px;

}
